<template>
  <v-app>
    <v-app-bar :clipped-left="clipped" app color="#2D4B75" dense dark>
      <img src="@/assets/Logo_MFU.png" style="width: 4%; margin-right: 10px" />
      <v-list-item
        v-for="(item, nav) in items"
        :key="nav"
        :to="item.to"
        router
        exact
        style="color: white"
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <center>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </center>
        </v-list-item-content>
      </v-list-item>
      <v-container>
        <v-spacer />
      </v-container>
      <v-container>
        <v-spacer />
      </v-container>
      <v-container>
        <v-spacer />
      </v-container>
      <v-container>
        <v-spacer />
      </v-container>
      <v-list-item @click="logout()" router exact style="color: white">
        <v-list-item-action>
          <v-icon>mdi-export</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>ออกจากระบบ</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
const URL = "https://selab.mfu.ac.th/wncmfu";
export default {
  name: "DefaultLayout",
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-package-variant-closed",
          title: "สินค้า",
          to: "/product_list",
        },
        {
          icon: "mdi-package-variant",
          title: "รายการนำเข้าสินค้า",
          to: "/import",
        },
        {
          icon: "mdi-package-up",
          title: "รายการโอนสินค้า",
          to: "/exchange",
        },
        {
          icon: "mdi-archive",
          title: "รายการสินค้าคงคลัง",
          to: "/inventory",
        },
        {
          icon: "mdi-arrow-down-bold-box-outline",
          title: "รายการสินค้าใกล้หมด",
          to: "/out_of_inventory",
        },
        {
          icon: "mdi-alert",
          title: "รายการสินค้าใกล้หมดอายุ",
          to: "/expire",
        },
      ],
    };
  },
  methods: {
    async logout() {
      const response = await this.$axios.post(URL+"/api/auth/logout");

      if (response.status === 200) {
        // Clear the user data from localStorage
        localStorage.removeItem("userId");
        this.$router.push("/");
      }
    },
  },
};
</script>

