<!-- from dialog popup นำเข้า  -->
<template>
<v-row justify="center">
    <v-dialog v-model="dialog" max-width="1500px">
        <v-card>
            <v-app-bar color="#2D4B75" dark>
                <v-card-title class="text-center justify-center ">
                    เพิ่มรายการนำเข้าสินค้า
                </v-card-title>
            </v-app-bar>
            <v-container class="card">
                <v-card outlined max-width="1400px">
                    <v-list-item>
                        <v-list-item-title class="text-h5 mb-1">
                            เลือกสินค้า
                        </v-list-item-title>
                    </v-list-item>
                    <v-container>
                        <v-row no-gutters>
                            <!-- ***** 1 ****** -->
                            <v-col cols="2">

                            </v-col>
                            <v-col cols="2">
                                <v-subheader>รหัสสินค้า</v-subheader>
                            </v-col>
                            <v-col cols="4" sm="6" md="3">
                                <v-autocomplete :items="['']" label="รหัสสินค้า" class="field" outlined required>
                                </v-autocomplete>
                            </v-col>
                            <v-col cols="2">
                                <v-subheader>Minimun</v-subheader>
                            </v-col>
                            <v-col cols="4" sm="6" md="3">
                                <v-text-field class="field" label="Minimun" outlined></v-text-field>
                            </v-col>
                            <!-- ***** 2 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>ชื่อสินค้า</v-subheader>
                            </v-col>
                            <v-col cols="4" sm="6" md="3">
                                <v-autocomplete :items="['']" label="ชื่อสินค้า" class="field" outlined required>
                                </v-autocomplete>
                            </v-col>
                            <v-col cols="2">
                                <v-subheader>Maximum</v-subheader>
                            </v-col>
                            <v-col cols="4" sm="6" md="3">
                                <v-text-field class="field" label="Maximum" outlined></v-text-field>
                            </v-col>
                            <!-- ***** 3 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>หมวดหมู่</v-subheader>
                            </v-col>
                            <v-col cols="4" sm="6" md="3">
                                <v-text-field class="field" label="หมวดหมู่" outlined></v-text-field>
                            </v-col>
                            <v-col cols="2">
                                <v-subheader>ราคา(บาท)</v-subheader>
                            </v-col>
                            <v-col cols="4" sm="6" md="3">
                                <v-text-field class="field" label="ราคา(บาท)" outlined></v-text-field>
                            </v-col>
                            <!-- ***** 4 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>หน่วย</v-subheader>
                            </v-col>
                            <v-col cols="4" sm="6" md="3">
                                <v-text-field class="field" label="หน่วย" outlined></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                    <v-divider></v-divider>
                    <!-- จบแบบ1-->
                    <!-- เริ่มแบบ2-->
                    <v-container>
                        <v-list-item>
                            <v-list-item-title class="text-h5 mb-1">
                                ข้อมูลเพิ่มเติมสินค้า *สำคัญ
                            </v-list-item-title>
                        </v-list-item>
                        <v-row no-gutters>
                            <!-- ***** 1 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>วันที่นำเข้า</v-subheader>
                            </v-col>
                            <v-col cols="4">
                                <v-menu v-model="menu" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field class="field" v-model="date" append-icon="mdi-calendar-day-month" outlined v-bind="attrs" v-on="on"></v-text-field>
                                    </template>
                                    <v-date-picker v-model="date" @input="menu = false"></v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col cols="4"></v-col>
                            <!-- ***** 2 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>วันที่หมดอายุ</v-subheader>
                            </v-col>
                            <v-col cols="4">
                                <v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="auto">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field class="field" v-model="date" append-icon="mdi-calendar-day-month" outlined v-bind="attrs" v-on="on"></v-text-field>
                                    </template>
                                    <v-date-picker v-model="date" @input="menu2 = false"></v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col cols="4"></v-col>
                            <!-- ***** 3 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>หมายเลข PO</v-subheader>
                            </v-col>
                            <v-col cols="4">
                                <v-text-field class="field" label="กรอกหมายเลข PO" outlined></v-text-field>
                            </v-col>
                            <v-col cols="4"></v-col>
                            <!-- ***** 3 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>บริษัท</v-subheader>
                            </v-col>
                            <v-col cols="4">
                                <v-text-field class="field" label="กรอกชื่อบริษัท" outlined></v-text-field>
                            </v-col>
                            <v-col cols="4"></v-col>

                            <!-- ***** 4 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>เงื่อนไข</v-subheader>
                            </v-col>
                            <v-col cols="4">
                                <v-text-field class="field" label="โปรดระบุเงื่อนไข" outlined></v-text-field>
                            </v-col>
                            <v-col cols="4"></v-col>

                            <!-- ***** 5 ****** -->
                            <v-col cols="2"></v-col>
                            <v-col cols="2">
                                <v-subheader>จำนวน</v-subheader>
                            </v-col>
                            <v-col cols="4">
                                <v-text-field class="field" label="กรอกจำนวน" outlined></v-text-field>
                            </v-col>
                            <v-col cols="4"></v-col>

                            <!-- chack box -->

                            <div>
                                <v-container class="check-box" fluid color="indigo darken-2">
                                    <v-checkbox v-model="selected" label="คลังใหญ่" value="คลังใหญ่"></v-checkbox>
                                    <v-checkbox v-model="selected" label="คลังย่อย" value="คลังย่อย"></v-checkbox>
                                </v-container>
                            </div>

                        </v-row>
                    </v-container>
                </v-card>
            </v-container>
            <v-list-item>
                <v-card-actions class="topright">
                    <v-btn color="primary" @click="dialog = false" class="btn">บันทึก</v-btn>
                </v-card-actions>
            </v-list-item>
        </v-card>
    </v-dialog>
</v-row>
</template>

  
<script>
export default {
    data() {
        return {
            dialog: false,
            show: false,

        }
    }
};
</script>
  
<style scoped>
.field {
    border-radius: 15px;
}

.topright {
    position: absolute;
    right: 16px;
    font-size: 18px;
}

.card {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}

.navbtn {
    width: 200px;
    color: white;
}

.check-box {
    position: relative;
    padding-left: 450px;
}
</style>
