<!-- ฟอมหน้าแลกเปลี่ยน -->
<template>
    <v-card outlined height="1050px">
        <v-container>
            <v-list-item>
                <v-list-item-title class="text-h5 mb-1">
                    เลือกสินค้า
                </v-list-item-title>
            </v-list-item>
            <v-row no-gutters>
                <v-col cols="2">
                    <v-btn rounded>เลือก</v-btn>
                </v-col>
                <v-col cols="5">
                    <v-title>รหัสสินค้า</v-title>
                    <v-text-field class="field" label="รหัสสินค้า" outlined disabled></v-text-field>
                    <v-title>ชื่อสินค้า</v-title>
                    <v-text-field class="field" label="ชื่อสินค้า" outlined disabled></v-text-field>
                    <v-title>หมวดหมู่</v-title>
                    <v-text-field class="field" label="หมวดหมู่" outlined disabled></v-text-field>
                    <v-title>หน่วย</v-title>
                    <v-text-field class="field" label="หน่วย" outlined disabled></v-text-field>
                </v-col>
                <v-col cols="5">
                    <v-title>Minimun</v-title>
                    <v-text-field class="field" label="รหัสสินค้า" outlined disabled></v-text-field>
                    <v-title>Maximum</v-title>
                    <v-text-field class="field" label="ชื่อสินค้า" outlined disabled></v-text-field>
                    <v-title>ราคา(บาท)</v-title>
                    <v-text-field class="field" label="หมวดหมู่" outlined disabled></v-text-field>
                    <v-title>จำนวน</v-title>
                    <v-text-field class="field" label="จำนวน" outlined></v-text-field>
                </v-col>
            </v-row>
            <v-divider></v-divider>
        </v-container>
        <v-container>
            <v-list-item>
                <v-list-item-title class="text-h5 mb-1">
                    เลือกสินค้า
                </v-list-item-title>
            </v-list-item>
            <v-row no-gutters>
                <v-col cols="2">
                    <v-btn rounded>เลือก</v-btn>
                </v-col>
                <v-col cols="5">
                    <v-title>รหัสสินค้า</v-title>
                    <v-text-field class="field" label="รหัสสินค้า" outlined disabled></v-text-field>
                    <v-title>ชื่อสินค้า</v-title>
                    <v-text-field class="field" label="ชื่อสินค้า" outlined disabled></v-text-field>
                    <v-title>หมวดหมู่</v-title>
                    <v-text-field class="field" label="หมวดหมู่" outlined disabled></v-text-field>
                    <v-title>หน่วย</v-title>
                    <v-text-field class="field" label="หน่วย" outlined disabled></v-text-field>
                </v-col>
                <v-col cols="5">
                    <v-title>Minimun</v-title>
                    <v-text-field class="field" label="รหัสสินค้า" outlined disabled></v-text-field>
                    <v-title>Maximum</v-title>
                    <v-text-field class="field" label="ชื่อสินค้า" outlined disabled></v-text-field>
                    <v-title>ราคา(บาท)</v-title>
                    <v-text-field class="field" label="หมวดหมู่" outlined disabled></v-text-field>
                    <v-title>จำนวน</v-title>
                    <v-text-field class="field" label="จำนวน" outlined></v-text-field>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
  </template>
  <script>
  export default {
  
      data() {
          return {
              selected: ['คลังย่อย', 'คลังใหญ่'],
          }
      }
  }
  </script>
  <style scoped>
  .card {
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 80px;
  
  }
  
  .topright {
      position: absolute;
      right: 16px;
      font-size: 18px;
  }
  
  .field {
      border-radius: 20px;
      width: 300px;
      color: black;
  }
  .test{
  border: 1px solid black;
}
  </style>