<template>
    <div>
      <span class="dot">
        <img class="logo" src="@/assets/Wellness.png" />
      </span>
    </div>
  </template>
  
  <style scoped>
  .dot {
    display: inline-block;
    height: 120px;
    width: 120px;
    background-color: #003c7e;
    border-radius: 50%;
  }
  .logo {
    position: relative;
    top: 9%;
    margin: auto;
    height: 100px;
  }
  </style>
  