<!-- ฟอมเพิ่มสินค้าใหม่ -->
<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="800px">
      <v-card>
        <v-app-bar color="#2D4B75" dark>
          <v-card-title class="text-center justify-center">
            เพิ่มสินค้า
          </v-card-title>
        </v-app-bar>
        <v-container>
          <v-spacer />
        </v-container>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="2">
                <v-subheader>รายการ</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  class="field"
                  label="รายการ"
                  outlined
                  disabled
                ></v-text-field>
              </v-col>

              <v-col cols="2">
                <v-subheader 
                style="color: black"
                type="number"
                >Minimun</v-subheader>
              </v-col>
              <v-col cols="4" sm="6" md="3">
                <v-text-field
                  class="field"
                  label="Minimun"
                  outlined
                  type="number"
                  
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="2">
                <v-subheader style="color: black">ชื่อสินค้า</v-subheader>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  class="field"
                  label="ชื่อสินค้า"
                  outlined
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="2">
                <v-subheader style="color: black">Maximum</v-subheader>
              </v-col>
              <v-col cols="4" sm="6" md="3">
                <v-text-field
                  class="field"
                  label="Maximum"
                  outlined
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="2">
                <v-subheader style="color: black">หมวดหมู่</v-subheader>
              </v-col>
              <v-col cols="4" sm="6" md="4">
                <v-autocomplete
                  :items="['ยา', 'เวชภัณฑ์', 'เวชสําอาง']"
                  label="หมวดหมู่"
                  class="field"
                  outlined
                  required
                ></v-autocomplete>
              </v-col>

              <v-col cols="2">
                <v-subheader style="color: black">ราคา (บาท)</v-subheader>
              </v-col>
              <v-col cols="4" sm="6" md="3">
                <v-text-field
                  class="field"
                  label="ราคา"
                  outlined
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="2">
                <v-subheader style="color: black">หน่วย</v-subheader>
              </v-col>
              <v-col cols="6" sm="6" md="4">
                <v-autocomplete
                  :items="['เม็ด', 'หลอด', 'ขวด']"
                  label="หน่วย"
                  class="field"
                  outlined
                  required
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="dialog = false" class="btn"
            >บันทึก</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: "Dialog",
  data() {
    return {
      dialog: false,
    };
  },number: [
    value => !!value || 'Required.',
      value => (value && value.length >= 3) || 'Min 3 characters',
]
};
</script>

<style scoped>
.btn {
  font-size: medium;
  width: 125px;
  margin: 15px;
}
.field {
  border-radius: 15px;
}
</style>
