<!-- หน้าฟอมย้ายยาไปคลังต่างๆ -->
<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card>  
        <v-app-bar color="#2D4B75" dark>
          <v-card-title class="text-center justify-center">
            เพิ่มรายการโอนสินค้า
          </v-card-title>
        </v-app-bar>
        <v-container class="card">
          <v-card outlined max-width="800px">
          <v-list-item>
                <v-list-item-title class="text-h5 mb-1">
                  ข้อมูล
                </v-list-item-title>
            </v-list-item>
            <v-row no-gutters>
              <v-col cols="2"></v-col>
                <v-col cols="2"></v-col>
                  <v-subheader>รหัสสินค้า</v-subheader>
                <v-col cols="4" sm="6" md="3">
                  <v-autocomplete :items="['']" label="รหัสสินค้า" class="field" outlined
            required>
          </v-autocomplete>
                </v-col>
                <v-col cols="4">
                  <v-spacer />
                </v-col>

                <v-col cols="2"></v-col>
                <v-col cols="2">
                  <v-subheader style="color: black">จาก</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                  <v-autocomplete
                    :items="['ใหญ่', 'ย่อย', 'ตรวจสุขภาพ', 'เทคนิคการแพทย์']"
                    label="หมวดหมู่"
                    class="field"
                    outlined
                    required
                  ></v-autocomplete>
                </v-col>

                <v-col cols="2">
                  <v-subheader style="color: black">ไป</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                  <v-autocomplete
                    :items="['ใหญ่', 'ย่อย', 'ตรวจสุขภาพ', 'เทคนิคการแพทย์']"
                    label="หมวดหมู่"
                    class="field"
                    outlined
                    required
                  ></v-autocomplete>
                </v-col>

                <v-col cols="2"></v-col>
                <v-col cols="2">
                  <v-subheader style="color: black">วันที่</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                  <v-text-field
                    class="field"
                    label="วันที่"
                    outlined
                    required
                  ></v-text-field>
                </v-col>
            </v-row>
          </v-card>
          <v-card outlined max-width="800px">
          <v-list-item>
                <v-list-item-title class="text-h5 mb-1">
                  สินค้า
                </v-list-item-title>
            </v-list-item>
            <v-row no-gutters>
              <v-col cols="2">
                
              </v-col>
              <v-col cols="2">
                <v-subheader>รหัสสินค้า</v-subheader>
              </v-col>
              <v-col cols="4" sm="6" md="3">
                <v-autocomplete 
                :items="['']" 
                label="รหัสสินค้า" 
                class="field" 
                outlined
            required>
          </v-autocomplete>
              </v-col>

              <v-col cols="2">
                <v-subheader>ชื่อสินค้า</v-subheader>
              </v-col>
              <v-col cols="4" sm="6" md="3">
                <v-autocomplete 
                :items="['']" 
                label="ชื่อสินค้า" 
                class="field" 
                outlined
            required>
          </v-autocomplete>
              </v-col>

              <v-col cols="2"></v-col>

              <v-col cols="2">
                <v-subheader style="color: black">จำนวน</v-subheader>
              </v-col>
              <v-col cols="4" sm="6" md="3">
                <v-text-field
                  class="field"
                  label="จำนวน"
                  outlined
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="dialog = false" class="btn"
            >บันทึก</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: "Dialog",
  data() {
    return {
      dialog: false,
    };
  },
  methods: {
    handleClose() {
      this.$emit("update:dialog", false);
    }
  }
};
</script>
<style scoped>
.field {
  border-radius: 15px;
}
.test{
  border: 1px solid black;
}
.card{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  
}
.ftitle {
  padding-top: 1%;
  padding-bottom: 0%;
  padding-right: 1%;
}
.sctitle {
  padding-top: 1%;
  padding-bottom: 0%;
  padding-left: 1%;
  padding-right: 1%;
}
</style>