<!-- หน้าโอนยาย้ายคลัง -->
<template>
  <div class="mt-5 mb-5">
    <!-- card import -->
    <v-card outlined height="auto">
      <v-row class="head">
        <p>
          <v-icon style="vertical-align: middle">mdi-package-up</v-icon>
          รายการโอนสินค้า
        </p>
      </v-row>

      <!-- Search Bar -->
      <div class="right">
        <v-row no-gutters>
          <div>&nbsp; &nbsp; &nbsp;</div>
          <v-col>
            <v-text-field
              v-model="search"
              class="field-search1"
              label="ค้นหา"
              outlined
              required
            >
            </v-text-field>
          </v-col>
        </v-row>
      </div>

      <v-container>
        <div style="margin-left: 50px">
          สินค้ามีทั้งหมด&nbsp;
          {{ this.total }}
          &nbsp; รายการ
        </div>
      </v-container>

      <v-data-table
        :headers="headers"
        :search="search"
        :items="product_transfer"
        class="elevation-1 ml-16 mr-16 mb-6"
      >
        <!-- index # -->
        <template slot="item.count" slot-scope="props">
          {{ props.index + 1 }}
        </template>

        <!-- edit  -->
        <template slot="item.icon" slot-scope="props">
          <v-btn
            @click="editItem(props.item)"
            small
            text
            class="ma-1 col-3"
            color="#ffffff"
          >
            <v-icon v-model="props.item.icon" disabled
              >mdi-pencil-outline</v-icon
            >
          </v-btn>
        </template>
      </v-data-table>

      <!-- ฟอร์มเพิ่ม import  -->
      <v-dialog persistent v-model="dialog" max-width="900px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" v-bind="attrs" v-on="on" dark class="btn">
            เพิ่มรายการโอนสินค้า
          </v-btn>
        </template>

        <v-card max-height="700px">
          <v-app-bar color="#2D4B75" dark>
            <v-card-title class="text-center justify-center">
              {{ formTitle }}
            </v-card-title>
          </v-app-bar>
          <v-container>
            <v-spacer />
          </v-container>
          <v-card-text>
            <v-container>
              <v-row>
                <v-list-item>
                  <v-list-item-title class="mb-1">
                    <h2>ข้อมูล</h2>
                  </v-list-item-title>
                </v-list-item>

                <v-row no-gutters>
                  <v-col cols="2"></v-col>
                  <v-col cols="2">
                    <v-subheader style="color: black">จาก</v-subheader>
                  </v-col>
                  <v-col cols="4" sm="6" md="3">
                    <v-autocomplete
                      :items="company"
                      item-text="stock_name"
                      item-value="stock_id"
                      label="คลัง"
                      class="field"
                      v-model="editedItem.from_stock"
                      outlined
                      required
                    ></v-autocomplete>
                  </v-col>

                  <v-col cols="2">
                    <v-subheader class="subhead" style="color: black"
                      >ไป</v-subheader
                    >
                  </v-col>

                  <v-col cols="4" sm="6" md="3">
                    <v-autocomplete
                      :items="company"
                      item-text="stock_name"
                      item-value="stock_id"
                      label="คลัง"
                      class="field"
                      v-model="editedItem.to_stock"
                      outlined
                      required
                    ></v-autocomplete>
                  </v-col>

                  <v-col cols="2"></v-col>
                  <v-col cols="2">
                    <v-subheader style="color: black">วันที่</v-subheader>
                  </v-col>
                  <v-col cols="4" sm="6" md="3">
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="editedItem.sc_import"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          class="field"
                          v-model="editedItem.sc_import"
                          label="วันที่นำเข้า"
                          append-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                          outlined
                          required
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="editedItem.sc_import"
                        no-title
                        scrollable
                      >
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false">
                          ยกเลิก
                        </v-btn>
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu.save(editedItem.sc_import)"
                        >
                          ยืนยัน
                        </v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
                <!-- ฟอมช่วง2 -->

                <v-list-item>
                  <v-list-item-title class="mb-1">
                    <h2>สินค้า</h2>
                  </v-list-item-title>
                </v-list-item>
                <v-row no-gutters>
                  <v-col cols="2"> </v-col>
                  <v-col cols="2">
                    <v-subheader style="color: black">รหัสสินค้า</v-subheader>
                  </v-col>
                  <v-col cols="4" sm="6" md="3">
                    <v-autocomplete
                      label="รหัสสินค้า"
                      :items="product"
                      item-text="med_id"
                      item-value="med_id"
                      class="field"
                      v-model="editedItem.med_id"
                      @change="onMedID()"
                      outlined
                      required
                    >
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="2">
                    <v-subheader class="subhead" style="color: black"
                      >ชื่อสินค้า</v-subheader
                    >
                  </v-col>
                  <v-col cols="4" sm="6" md="3">
                    <v-autocomplete
                      :items="product"
                      item-text="med_name"
                      item-value="med_name"
                      v-model="form.med_name"
                      label="ชื่อสินค้า"
                      @change="onMedName()"
                      class="field"
                      outlined
                      required
                    >
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="2"></v-col>

                  <v-col cols="2">
                    <v-subheader style="color: black">วันหมดอายุ</v-subheader>
                  </v-col>
                  <v-col cols="4" sm="6" md="3">
                    <v-autocomplete
                      class="field"
                      label="วันหมดอายุ"
                      :items="ExpDate"
                      item-text="sc_exp"
                      item-value="sc_exp"
                      @change="onExp()"
                      v-model="editedItem.sc_exp"
                      outlined
                      required
                    >
                    </v-autocomplete>
                  </v-col>

                  <v-col cols="2"></v-col>
                  <v-col cols="2"></v-col>
                  <v-col cols="2"></v-col>

                  <v-col cols="2">
                    <v-subheader style="color: black">จำนวน</v-subheader>
                  </v-col>
                  <v-col cols="4" sm="6" md="3">
                    <v-text-field
                      class="field"
                      label="จำนวน"
                      v-model="editedItem.sc_amount"
                      outlined
                      required
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="primary"
                    class="btn-save"
                    text
                    @click="dialog = false"
                    >ยกเลิก</v-btn
                  >
                  <v-btn color="primary" class="btn-save" @click="save()"
                    >บันทึก</v-btn
                  >
                </v-card-actions>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
const URL = "https://selab.mfu.ac.th/wncmfu";
export default {
  data() {
    return {
      headers: [
        {
          text: "#",
          align: "center",
          value: "count",
          sortable: false,
          class: "blue-grey darken-4 white--text",
        },
        {
          text: "รหัสสินค้า",
          align: "center",
          value: "med_id",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "left",
          text: "ชื่อสินค้า",
          value: "med_name",
          class: "blue-grey darken-4 white--text text-center",
        },
        {
          align: "center",
          text: "หน่วยนับ",
          value: "unit_name",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "left",
          text: "นำเข้าจาก",
          value: "from_stock_name",
          class: "blue-grey darken-4 white--text text-center",
        },
        {
          align: "left",
          text: "ไปยัง",
          value: "to_stock_name",
          class: "blue-grey darken-4 white--text text-center",
        },
        {
          align: "center",
          text: "วันที่รับสินค้า",
          value: "sc_import",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "วันหมดอายุ",
          value: "sc_exp",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "จำนวน",
          value: "sc_amount",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "EDIT",
          sortable: false,
          value: "icon",
          class: "blue-grey darken-4 white--text",
        },
      ],
      menu: false,
      product_transfer: [],
      product: [],
      company: [],
      ExpDate: [],
      total: "",
      dialog: false,
      search: "",
      editedIndex: -1,
      editedItem: {
        med_id: "",
        sc_import: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
          .toISOString()
          .substr(0, 10),
        sc_exp: "",
        sc_amount: 0,
        sc_po: "",
        to_stock: 0,
        from_stock: "",
        status: "โอนย้ายคลัง",
        action_status: 0,
      },
      defaultItem: {
        med_id: "",
        sc_import: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
          .toISOString()
          .substr(0, 10),
        sc_exp: "",
        sc_amount: 0,
        sc_po: "",
        to_stock: 0,
        from_stock: "",
        status: "โอนย้ายคลัง",
        action_status: 0,
      },
      form: {
        med_name: "",
      },
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "เพิ่มรายการโอนสินค้า" : "เเก้ไขสินค้า";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      this.$axios.get(URL + "/api/medicent/getAll").then((res) => {
        this.product = res.data;
        console.log(this.product);
      });
      this.$axios
        .get(URL + "/api/stockcard/getStatus/โอนย้ายคลัง")
        .then((res) => {
          this.product_transfer = res.data.data;
          this.total = res.data.data.length;
          console.log(this.product_transfer);
        });
      this.$axios.get(URL + "/api/stock/getAll").then((res) => {
        this.company = res.data;
        console.log(this.company);
      });
    },
    onMedID() {
      this.$axios
        .get(URL + "/api/medicent/getByID/" + this.editedItem.med_id)
        .then((res) => {
          this.form.med_name = res.data.data[0].med_name;
          this.$axios
            .get(URL + "/api/stockcard/getByID/" + this.editedItem.med_id)
            .then((res) => {
              this.ExpDate = res.data.data;
            });
        });
    },
    onMedName() {
      this.$axios
        .get(URL + "/api/medicent/getByName/" + this.form.med_name)
        .then((res) => {
          this.editedItem.med_id = res.data.data[0].med_id;
          this.$axios
            .get(URL + "/api/stockcard/getByName/" + this.form.med_name)
            .then((res) => {
              this.ExpDate = res.data.data;
            });
        });
    },
    onExp() {
      this.$axios
        .get(
          URL +
            "/api/stockcard/get/" +
            this.editedItem.med_id +
            "/" +
            this.editedItem.sc_exp
        )
        .then((res) => {
          this.editedItem.sc_amount = res.data.data[0].sc_amount;
          this.editedItem.sc_po = res.data.data[0].sc_po;
        });
    },
    async editItem(item) {
      this.editedIndex = this.product_transfer.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.form = Object.assign({}, item);
      this.dialog = true;
      this.initialize();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    async save() {
      if (this.editedIndex > -1) {
        console.log(this.editedItem.sc_exp);
        await this.$axios.put(
          URL +
            "/api/stockcard/update/" +
            this.editedItem.med_id +
            "/" +
            this.editedItem.sc_exp,
          {
            med_id: this.editedItem.med_id,
            sc_import: this.editedItem.sc_import,
            sc_exp: this.editedItem.sc_exp,
            sc_amount: this.editedItem.sc_amount,
            sc_po: this.editedItem.sc_po,
            to_stock: this.editedItem.to_stock,
            from_stock: this.editedItem.from_stock,
            status: "โอนย้ายคลัง",
            action_status: 0,
          }
        );
        this.initialize();
      } else {
        await this.$axios.post(URL + "/api/stockcard/add", this.editedItem);
        this.initialize();
      }
      this.close();
    },
  },
};
</script>

<style scoped>
.btn {
  font-size: medium;
  width: 190px;
  margin: 15px;
  position: absolute;
  top: 50px;
  right: 30px;
  border-radius: 15px;
}

.btn-save {
  border-radius: 15px;
  font-size: medium;
  width: 125px;
  left: 575px;
  margin-bottom: 10px;
}

p {
  font-size: 25px;
}

div {
  font-size: 16px;
}

.head {
  position: relative;
  padding-top: 75px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-weight: bold;
}

.type-title {
  padding-top: 1%;
  padding-bottom: 0%;
  padding-right: 1%;
}

thead th {
  padding: 12px;
}

tbody td {
  text-align: center;
  padding: 8px;
}

.field {
  border-radius: 15px;
}

.field-search {
  border-radius: 15px;
}

.field-search1 {
  border-radius: 15px;
  width: 30%;
}

.right {
  position: relative;
  margin-top: 50px;
  margin-bottom: -10px;
  left: 1160px;
  font-size: 18px;
}

.subhead {
  text-align: center;
  padding-left: 40%;
}
</style>
