<!-- หน้าหมดอายุ -->
<template>
  <div class="mt-5 mb-5">
    <v-card outlined height="auto">
      <!-- title -->
      <v-row class="head">
        <p>
          <v-icon style="vertical-align: middle">mdi-alert</v-icon>
          รายการสินค้าใกล้หมดอายุ
        </p>
      </v-row>

      <!-- Search Bar -->
      <div class="right">
        <v-row no-gutters>
          <div>&nbsp; &nbsp; &nbsp;</div>
          <v-col>
            <v-text-field
              v-model="search"
              class="field-search1"
              label="ค้นหา"
              outlined
              required
            >
            </v-text-field>
          </v-col>
        </v-row>
      </div>

      <!-- Title on top table count total data in table -->
      <v-container>
        <div style="margin-left: 50px">
          สินค้ามีทั้งหมด&nbsp;
          {{ this.total }}
          &nbsp;รายการ
        </div>
      </v-container>

      <v-data-table
        :headers="headers"
        :search="search"
        :items="product_expire"
        :items-per-page="10"
        class="elevation-1 ml-16 mr-16 mb-6"
      >
        <!-- index # -->
        <template slot="item.count" slot-scope="props">
          {{ props.index + 1 }}
        </template>
      </v-data-table>
      <p id="t"></p>
    </v-card>
  </div>
</template>

<script>
const URL = "https://selab.mfu.ac.th/wncmfu";
export default {
  components: {},
  data() {
    return {
      headers: [
        {
          text: "#",
          align: "center",
          value: "count",
          sortable: false,
          class: "blue-grey darken-4 white--text",
        },
        {
          text: "รหัสสินค้า",
          align: "center",
          value: "med_id",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "left",
          text: "ชื่อสินค้า",
          value: "med_name",
          class: "blue-grey darken-4 white--text text-center",
        },
        {
          align: "center",
          text: "หน่วยนับ",
          value: "unit_name",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "left",
          text: "คลัง",
          value: "to_stock_name",
          class: "blue-grey darken-4 white--text text-center",
        },
        {
          align: "center",
          text: "วันหมดอายุ",
          value: "sc_exp",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "วันหมดอายุ",
          value: "countdown",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "จำนวน",
          value: "sc_amount",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "การดำเนินการ",
          sortable: false,
          value: "icon",
          class: "blue-grey darken-4 white--text",
        },
      ],
      product_expire: [],
      total: "",
      countdown: "",
      search: "",
      med_id: "",
      sc_import: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      sc_exp: "",
      sc_amount: 0,
      sc_po: "",
      to_stock: 0,
      from_stock: "",
      status: "โอนย้ายคลัง",
      action_status: 0,
    };
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {},

  created() {
    this.initialize();
    // this.$axios.get(URL + "/api/stockcard/getAll").then((res) => {
    //   //     console.log(res.data[0].sc_exp);
    //   //     this.countdown = new Date(res.data[0].sc_exp).getTime();
    //   //     console.log("time",this.countdown);
    //   var countDownDate = new Date(res.data[4].sc_exp).getTime();
    //   console.log(res.data[0].sc_exp);
    //   var x = setInterval(function () {
    //     var now = new Date().getTime();
    //     var distance = countDownDate - now;
    //     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    //     this.countdown = document.getElementById("t").innerHTML = days + "d ";
    //     if (distance < 0) {
    //       clearInterval(x);
    //       this.countdown = document.getElementById("t").innerHTML = "EXPIRED";
    //     }
    //     console.log("1", this.countdown);
    //   }, 3000);
    // });
  },
  methods: {
    async initialize() {
      this.$axios.get(URL + "/api/stockcard/getAll").then((res) => {
        this.product_expire = res.data;
        this.total = res.data.length;
      });
    },
    //   onMedID() {
    //     this.$axios
    //       .get(URL + "/api/medicent/getByID/" + this.editedItem.med_id)
    //       .then((res) => {
    //         this.form.med_name = res.data.data[0].med_name;
    //         this.$axios
    //           .get(URL + "/api/stockcard/getByID/" + this.editedItem.med_id)
    //           .then((res) => {
    //             console.log(res.data.data);
    //             this.ExpDate = res.data.data;
    //           });
    //         console.log("000000", this.ExpDate);
    //       });
    //   },
    //   onMedName() {
    //     this.$axios
    //       .get(URL + "/api/medicent/getByName/" + this.form.med_name)
    //       .then((res) => {
    //         this.editedItem.med_id = res.data.data[0].med_id;
    //         this.$axios
    //           .get(URL + "/api/stockcard/getByName/" + this.form.med_name)
    //           .then((res) => {
    //             console.log(res.data.data);
    //             this.ExpDate = res.data.data;
    //           });
    //       });
    //   },
    //   onExp() {
    //     this.$axios
    //       .get(
    //         URL +
    //           "/api/stockcard/get/" +
    //           this.editedItem.med_id +
    //           "/" +
    //           this.editedItem.sc_exp
    //       )
    //       .then((res) => {
    //         this.editedItem.sc_amount = res.data.data[0].sc_amount;
    //         this.editedItem.sc_po = res.data.data[0].sc_po;
    //       });
    //   },
    //   async editItem(item) {
    //     console.log(this.product_expire);
    //     this.editedIndex = this.product_expire.indexOf(item);
    //     this.editedItem = Object.assign({}, item);
    //     this.form = Object.assign({}, item);
    //     this.dialog = true;
    //     this.initialize();
    //   },
    //   close() {
    //     this.dialog = false;
    //     this.$nextTick(() => {
    //       this.editedItem = Object.assign({}, this.defaultItem);
    //       this.editedIndex = -1;
    //     });
    //   },
    //   async save() {
    //     if (this.editedIndex > -1) {
    //       console.log(this.editedItem.sc_exp);
    //       await this.$axios.put(
    //         URL +
    //           "/api/stockcard/update/" +
    //           this.editedItem.med_id +
    //           "/" +
    //           this.editedItem.sc_exp,
    //         {
    //           med_id: this.editedItem.med_id,
    //           sc_import: this.editedItem.sc_import,
    //           sc_exp: this.editedItem.sc_exp,
    //           sc_amount: this.editedItem.sc_amount,
    //           sc_po: this.editedItem.sc_po,
    //           to_stock: this.editedItem.to_stock,
    //           from_stock: this.editedItem.from_stock,
    //           status: "โอนย้ายคลัง",
    //           action_status: 0,
    //         }
    //       );
    //       this.initialize();
    //     } else {
    //       console.log("111", this.editedItem);
    //       await this.$axios.post(URL + "/api/stockcard/add", this.editedItem);
    //       this.initialize();
    //     }
    //     this.close();
    //   },
  },
};
</script>

<style scoped>
.btn {
  font-size: medium;
  width: 125px;
  margin: 15px;
  position: absolute;
  top: 50px;
  right: 30px;
  border-radius: 15px;
}

.btn-save {
  border-radius: 15px;
  font-size: medium;
  width: 125px;
  left: 470px;
  margin-bottom: 10px;
}

p {
  font-size: 25px;
}

div {
  font-size: 16px;
}

.head {
  position: relative;
  padding-top: 75px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-weight: bold;
}

.type-title {
  padding-top: 1%;
  padding-bottom: 0%;
  padding-right: 1%;
}

thead th {
  padding: 12px;
}

tbody td {
  text-align: center;
  padding: 8px;
}

.field {
  border-radius: 15px;
}

.field-search {
  border-radius: 15px;
}

.field-search1 {
  border-radius: 15px;
  width: 30%;
}

.right {
  position: relative;
  margin-top: 50px;
  margin-bottom: -10px;
  left: 1160px;
  font-size: 18px;
}
</style>
