<template>
    <v-card outlined height="1400px">
        <v-container>
            <v-list-item>
                <v-list-item-title class="text-h5 mb-1">
                    ข้อมูลสินค้า
                    <v-btn class="btn" color="primary">เพิ่มสินค้า</v-btn>
                </v-list-item-title>
            </v-list-item>
            <v-row no-gutters>
<!-- ***** 1 ****** -->

                <v-col cols="2">
                    <v-subheader>รหัสสินค้า</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                    <v-text-field class="field" label="รหัสสินค้า" outlined></v-text-field>
                </v-col>
                <v-col cols="2">
                    <v-subheader>Minimun</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                    <v-text-field class="field" label="Minimun" outlined></v-text-field>
                </v-col>
<!-- ***** 2 ****** -->
                <v-col cols="2"></v-col>
                <v-col cols="2">
                    <v-subheader>ชื่อสินค้า</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                    <v-text-field class="field" label="ชื่อสินค้า" outlined></v-text-field>
                </v-col>
                <v-col cols="2">
                    <v-subheader>Maximum</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                    <v-text-field class="field" label="Maximum" outlined></v-text-field>
                </v-col>
<!-- ***** 3 ****** -->
                <v-col cols="2"></v-col>
                <v-col cols="2">
                    <v-subheader>หมวดหมู่</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                    <v-text-field class="field" label="หมวดหมู่" outlined></v-text-field>
                </v-col>
                <v-col cols="2">
                    <v-subheader>ราคา(บาท)</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                    <v-text-field class="field" label="ราคา(บาท)" outlined></v-text-field>
                </v-col>
<!-- ***** 4 ****** -->
<v-col cols="2"></v-col>
                <v-col cols="2">
                    <v-subheader>หน่วย</v-subheader>
                </v-col>
                <v-col cols="4" sm="6" md="3">
                    <v-text-field class="field" label="หน่วย" outlined></v-text-field>
                </v-col>  
                <v-col>
                    <v-title>เลขที่ PO</v-title>
                    <v-text-field class="field" label="กรอกหมายเลข PO" outlined></v-text-field>
                    <v-title>บริษัท</v-title>
                    <v-text-field label="กรอกชื่อบริษัท" outlined></v-text-field>
                    <v-title>เงื่อนไข</v-title>
                    <v-text-field label="เงื่อนไข" outlined></v-text-field>
                </v-col>            
            </v-row>
           
        </v-container>
    </v-card>
  </template>
  <script>
  export default {
    data() {
      return {
        item:[
            {
                total:'',
            }
        ]
      };
    },
    methods: {
    },
  };
  </script>
  <style scoped>
  p {
  font-size: 25px;
}
  .btn {
    font-size: medium;
    width: 125px;
    margin: 15px;
    position: absolute;
    top: 50px;
    right: 30px;
  }
  .head {
  position: relative;
  padding-top: 75px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 20px;
}
</style>