<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="card">
        <v-form @submit.prevent="handleLogin()">
          <center>
            <v-card-text>
              <div class="logo py-4 d-flex justify-center">
                <Logo />
              </div>
              <h2>MFU Wellness Center Pharmaceutical Inventory</h2>
              <div class="mt-6" style="max-width: 45%">
                <v-text-field
                  background-color="#003D7E71"
                  prepend-inner-icon="mdi mdi-account"
                  solo
                  rounded
                  v-model.trim="form.user_username"
                  label="Username"
                ></v-text-field>
                <v-text-field
                  class="field"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show1 = !show1"
                  background-color="#003D7E71"
                  prepend-inner-icon="mdi mdi-lock"
                  solo
                  rounded
                  v-model.trim="form.user_password"
                  label="Password"
                ></v-text-field>
              </div>
            </v-card-text>
          </center>
          <div class="text-center">
            <v-btn rounded type="submit" class="btn"> Login </v-btn>
          </div>
        </v-form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
const URL = "https://selab.mfu.ac.th/wncmfu";
export default {
  name: "IndexPage",
  layout: "login_layout",
  data() {
    return {
      show1: false,
      form: {
        user_username: "",
        user_password: "",
      },
    };
  },
  created() {},
  methods: {
    async handleLogin() {
      try {
          const response = await this.$axios.post(URL + "/api/auth/login", {
            username: this.form.user_username,
            password: this.form.user_password,
          });
          console.log(response.data.user);
          if (response.status === 200) {
            localStorage.setItem("userId", response.data.user.id);
            this.$router.push("/inventory");
          } else {
            this.error = response.data.message;
          }
        
      } catch (error) {
        console.error(error);
        this.error = "An error occurred";
        alert("ชื่อผู้ใช้ หรือ รหัสผ่านไม่ถูกต้อง")
      }
    },
    login() {
      this.$axios
        .post(
          URL + "/api/auth/login",
          {
            username: this.form.user_username,
            password: this.form.user_password,
          },
          {
            responseType: "json",
            withCredentials: true,
          }
        )
        .then((response) => {
          var user = response.data;
          sessionStorage.setItem("user", JSON.stringify(user));
          this.$router.push({ path: "/inventory" });
        })
        .catch((error) => {
          if (error.response.status == 404) {
            console.log(error);
          }
        });
    },
  },
};
</script>

<style scoped>
.btn {
  font-size: 17px;
  color: #003c7e;
  font-weight: 900;
  width: 150px;
  background-color: #ffffff;
}

.card {
  background-color: #b6d2e3;
  width: 40%;
  height: 52%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
}
</style>
