<!-- หน้าสินค้าคงคลัง -->
<template>
  <v-card outlined height="800px" class="mt-5">
    <!-- title -->
    <v-row class="head">
      <p>
        <v-icon style="vertical-align: middle">mdi-archive</v-icon>
        รายการสินค้าคงคลัง
      </p>
    </v-row>
    <!-- Search Bar -->
    <div class="right">
      <v-row no-gutters>
        <div>&nbsp; &nbsp; &nbsp;</div>
        <v-col>
          <v-text-field
            v-model="search"
            class="field-search1"
            label="ค้นหา"
            outlined
            required
          >
          </v-text-field>
        </v-col>
      </v-row>
    </div>

    <!-- Title on top table count total data in table -->
    <v-container>
      <div style="margin-left: 50px">
        สินค้ามีทั้งหมด&nbsp;
        {{ this.total }}
        &nbsp;รายการ
      </div>
    </v-container>

    <v-data-table
      :headers="headers"
      :search="search"
      :items="product_i"
      :items-per-page="10"
      class="elevation-1 ml-16 mr-16 mb-6"
    >
      <!-- index # -->
      <template slot="item.count" slot-scope="props">
        {{ props.index + 1 }}
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
const URL = "https://selab.mfu.ac.th/wncmfu";
export default {
  components: {},
  data() {
    return {
      headers: [
        {
          text: "#",
          align: "center",
          value: "count",
          sortable: false,
          class: "blue-grey darken-4 white--text",
        },
        {
          text: "รหัสสินค้า",
          align: "center",
          value: "med_id",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "left",
          text: "ชื่อสินค้า",
          value: "med_name",
          class: "blue-grey darken-4 white--text text-center",
        },
        {
          align: "center",
          text: "หน่วยนับ",
          value: "unit_name",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "left",
          text: "คลัง",
          value: "to_stock_name",
          class: "blue-grey darken-4 white--text text-center",
        },
        {
          align: "center",
          text: "วันหมดอายุ",
          value: "sc_exp",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "จำนวน",
          value: "sc_amount",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "การดำเนินการ",
          sortable: false,
          value: "icon",
          class: "blue-grey darken-4 white--text",
        },
      ],
      product: [],
      product_i: [],
      typee: [],
      unitt: [],
      wherehouse: [],
      type_idd: [],
      unit_idd: [],
      total: "",
      page: 1,
      index: 0,
      med_id: "",
      sc_import: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      sc_exp: "",
      sc_amount: 0,
      sc_po: "",
      to_stock: 0,
      from_stock: "",
      status: "",
      action_status: 0,
    };
  },
  computed: {
    userId() {
      if (typeof window !== "undefined") {
        return window.localStorage.getItem("userId");
      }
      return null; // or some default value if localStorage is not available
    },
  },
  created() {
    this.initialize();
    // this.$axios.get(URL + "/api/stockcard/getAll").then((res) => {
    //   //     console.log(res.data[0].sc_exp);
    //   //     this.countdown = new Date(res.data[0].sc_exp).getTime();
    //   //     console.log("time",this.countdown);
    //   var countDownDate = new Date(res.data[4].sc_exp).getTime();
    //   console.log(res.data[0].sc_exp);
    //   var x = setInterval(function () {
    //     var now = new Date().getTime();
    //     var distance = countDownDate - now;
    //     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    //     this.countdown = document.getElementById("t").innerHTML = days + "d ";
    //     if (distance < 0) {
    //       clearInterval(x);
    //       this.countdown = document.getElementById("t").innerHTML = "EXPIRED";
    //     }
    //     console.log("1", this.countdown);
    //   }, 3000);
    // });
  },
  methods: {
    async initialize() {
      this.$axios.get(URL + "/api/stockcard/getAll").then((res) => {
        this.product = res.data;
        this.total = res.data.length;
      });
      this.$axios
        .get(URL + "/api/stockcard/getStatus/เพิ่มจำนวน")
        .then((res) => {
          this.product_i = res.data.data;
          this.total = res.data.data.length;
          console.log(this.product_i);
        });
        // this.$axios
        //   .get(URL + "/api/stockcard/getSStatus/เพิ่มจำนวน/1004")
        //   .then((res) => {
        //     this.product_i = res.data.data;
        //     this.total = res.data.data.length;
        //     console.log(this.product_i);
        //   });
    },
    onSearch() {
      if (this.s1.length != 0) {
        this.$axios
          .get(URL + "/api/stockcard/getSStatus/เพิ่มจำนวน/"+this.to_stock)
          .then((res) => {
            this.product_i = res.data.data;
            this.total = res.data.data.length;
            console.log(this.product_i);
          });
      }
    },
  },
};
</script>
<style scoped>
.btn {
  font-size: medium;
  width: 125px;
  margin: 15px;
  position: absolute;
  top: 50px;
  right: 30px;
  border-radius: 15px;
}

.btn-save {
  border-radius: 15px;
  font-size: medium;
  width: 125px;
  left: 470px;
  margin-bottom: 10px;
}

p {
  font-size: 25px;
}

div {
  font-size: 16px;
}

.head {
  position: relative;
  padding-top: 75px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-weight: bold;
}

.type-title {
  padding-top: 1%;
  padding-bottom: 0%;
  padding-right: 1%;
}

thead th {
  padding: 12px;
}

tbody td {
  text-align: center;
  padding: 8px;
}

.field {
  border-radius: 15px;
}

.field-search {
  border-radius: 15px;
}

.field-search1 {
  border-radius: 15px;
  width: 30%;
}

.right {
  position: relative;
  margin-top: 50px;
  margin-bottom: -10px;
  left: 1160px;
  font-size: 18px;
}
</style>
