<!-- หน้าสินค้า -->
<template>
  <div class="mt-5 mb-5">
    <v-card outlined height="auto">
      <!-- title -->
      <v-row class="head">
        <p>
          <v-icon style="vertical-align: middle"
            >mdi-package-variant-closed</v-icon
          >
          รายการสินค้าทั้งหมด
        </p>
      </v-row>

      <!-- <v-toolbar class="mb-2"> -->
      <v-tabs fixed-tabs show-arrows>
        <v-tabs-slider color="primary"></v-tabs-slider>
        <v-tab>ทั้งหมด</v-tab>
        <v-tab>เวชภัณฑ์ยา</v-tab>
        <v-tab>เวชสำอาง</v-tab>

        <!-- Tab1 All -->
        <v-tab-item>
          <div class="right">
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  v-model="search"
                  class="field-search1"
                  label="ค้นหา"
                  append-icon="mdi-magnify"
                  outlined
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
          </div>

          <v-container>
            <div style="margin-left: 50px">
              สินค้ามีทั้งหมด&nbsp;
              {{ this.total }}
              &nbsp; รายการ
            </div>
          </v-container>

          <v-data-table
            :headers="headers"
            :search="search"
            :items="product"
            :items-per-page="5"
            class="elevation-1 ml-16 mr-16 mb-6"
          >
            <!-- index  -->
            <template slot="item.count" slot-scope="props">
              {{ props.index + 1 }}
            </template>

            <!-- edit  -->
            <template slot="item.icon" slot-scope="props">
              <v-btn
                @click="editItem(props.item)"
                small
                text
                class="ma-1 col-3"
                color="#ffffff"
              >
                <v-icon v-model="props.item.icon" disabled
                  >mdi-pencil-outline</v-icon
                >
              </v-btn>
            </template>
          </v-data-table>
        </v-tab-item>

        <!-- Tab2 เวชภัณฑ์ยา -->
        <v-tab-item>
          <div class="right">
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  v-model="search1"
                  class="field-search1"
                  label="ค้นหา"
                  append-icon="mdi-magnify"
                  outlined
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
          </div>
          <v-container>
            <div style="margin-left: 50px">
              สินค้ามีทั้งหมด&nbsp;
              {{ this.total1 }}
              &nbsp; รายการ
            </div>
          </v-container>

          <v-data-table
            :headers="headers"
            :search="search1"
            :items="product1"
            :items-per-page="5"
            class="elevation-1 ml-16 mr-16 mb-6"
          >
            <!-- index  -->
            <template slot="item.count" slot-scope="props">
              {{ props.index + 1 }}
            </template>

            <!-- edit  -->
            <template slot="item.icon" slot-scope="props">
              <v-btn
                @click="editItem(props.item)"
                small
                text
                class="ma-1 col-3"
                color="#ffffff"
              >
                <v-icon v-model="props.item.icon" disabled
                  >mdi-pencil-outline</v-icon
                >
              </v-btn>
            </template>
          </v-data-table>
        </v-tab-item>

        <!-- Tab3 เวชสำอาง -->
        <v-tab-item>
          <div class="right">
            <v-row no-gutters>
              <v-col>
                <v-text-field
                  v-model="search2"
                  class="field-search1"
                  label="ค้นหา"
                  append-icon="mdi-magnify"
                  outlined
                  required
                >
                </v-text-field>
              </v-col>
            </v-row>
          </div>
          <v-container>
            <div style="margin-left: 50px">
              สินค้ามีทั้งหมด&nbsp;
              {{ this.total2 }}
              &nbsp; รายการ
            </div>
          </v-container>

          <v-data-table
            :headers="headers"
            :search="search2"
            :items="product2"
            :items-per-page="5"
            class="elevation-1 ml-16 mr-16 mb-6"
          >
            <!-- index  -->
            <template slot="item.count" slot-scope="props">
              {{ props.index + 1 }}
            </template>

            <!-- edit  -->
            <template slot="item.icon" slot-scope="props">
              <v-btn
                @click="editItem(props.item)"
                small
                text
                class="ma-1 col-3"
                color="#ffffff"
              >
                <v-icon v-model="props.item.icon" disabled
                  >mdi-pencil-outline</v-icon
                >
              </v-btn>
            </template>
          </v-data-table>
        </v-tab-item>
      </v-tabs>
      <!-- </v-toolbar> -->

      <!-- ฟอร์มเพิ่มสินค้าใหม่ + ปุ่มเพิ่มสินค้า -->
      <v-dialog persistent v-model="dialog" max-width="800px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" v-bind="attrs" v-on="on" dark class="btn">
            เพิ่มสินค้า
          </v-btn>
        </template>
        <v-card max-height="700px">
          <v-app-bar color="#2D4B75" dark>
            <v-card-title class="text-center justify-center">
              {{ formTitle }}
            </v-card-title>
          </v-app-bar>
          <v-container>
            <v-spacer />
          </v-container>
          <v-form @submit.prevent="save()">
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="2">
                    <v-subheader style="color: black">หมวดหมู่</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-autocomplete
                      :items="typee"
                      item-text="type_name"
                      item-value="type_id"
                      label="หมวดหมู่"
                      class="field"
                      v-model="editedItem.type_id"
                      @change="onType()"
                      outlined
                      required
                    ></v-autocomplete>
                  </v-col>

                  <v-col cols="2">
                    <v-subheader style="color: black">หน่วย</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-autocomplete
                      :items="unitt"
                      label="หน่วย"
                      class="field"
                      item-text="unit_name"
                      item-value="unit_id"
                      v-model="editedItem.unit_id"
                      outlined
                      required
                    ></v-autocomplete>
                  </v-col>

                  <v-col cols="2">
                    <v-subheader>รหัสสินค้า</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      class="field"
                      label="รหัสสินค้า"
                      v-model="editedItem.med_id"
                      outlined
                      readonly
                    ></v-text-field>
                  </v-col>

                  <v-col cols="2">
                    <v-subheader style="color: black">Minimun</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      class="field"
                      v-model="editedItem.med_min"
                      label="Minimun"
                      outlined
                      required
                      type="number"
                      min="0"
                      :rules="[numberOnly()]"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="2">
                    <v-subheader style="color: black">ชื่อสินค้า</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      class="field"
                      label="ชื่อสินค้า"
                      v-model="editedItem.med_name"
                      outlined
                      required
                    ></v-text-field>
                  </v-col>

                  <v-col cols="2">
                    <v-subheader style="color: black">Maximum</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      class="field"
                      label="Maximum"
                      v-model="editedItem.med_max"
                      outlined
                      required
                      type="number"
                      min="0"
                      :rules="[numberOnly()]"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="2">
                    <v-subheader style="color: black">ราคาต่อหน่วย</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field
                      class="field"
                      label="ราคา"
                      v-model="editedItem.med_price"
                      outlined
                      required
                      type="number"
                      min="0"
                      :rules="[numberOnly()]"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="2">
                    <v-subheader style="color: black">เงื่อนไข</v-subheader>
                  </v-col>
                  <v-col cols="4">
                    <v-autocomplete
                      :items="conn"
                      item-text="con_name"
                      item-value="con_id"
                      label="เงื่อนไข"
                      class="field"
                      v-model="editedItem.con_id"
                      outlined
                      required
                    ></v-autocomplete>
                  </v-col>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary"
                      class="btn-save"
                      text
                      @click="dialog = false"
                      >ยกเลิก</v-btn
                    >
                    <v-btn color="primary" type="submit" class="btn-save"
                      >บันทึก</v-btn
                    >
                  </v-card-actions>
                </v-row>
              </v-container>
            </v-card-text>
          </v-form>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
import Validation from "~/assets/validation.js";
import New_product from "~/components/New_product.vue";
const URL = "https://selab.mfu.ac.th/wncmfu";
export default {
  components: {
    New_product,
  },
  data() {
    return {
      ...Validation,
      headers: [
        {
          text: "#",
          align: "center",
          value: "count",
          sortable: false,
          class: "blue-grey darken-4 white--text",
        },
        {
          text: "รหัสสินค้า",
          align: "center",
          value: "med_id",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "left",
          text: "ชื่อสินค้า",
          value: "med_name",
          class: "blue-grey darken-4 white--text text-center",
        },
        {
          align: "center",
          text: "เงื่อนไขการหมดอายุ",
          value: "con_name",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "หมวดหมู่",
          value: "type_name",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "ราคาต่อหน่วย",
          value: "med_price",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "หน่วยนับ",
          value: "unit_name",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "MIN",
          value: "med_min",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "MAX",
          value: "med_max",
          class: "blue-grey darken-4 white--text",
        },
        {
          align: "center",
          text: "EDIT",
          sortable: false,
          value: "icon",
          class: "blue-grey darken-4 white--text",
        },
      ],
      product: [],
      product1: [],
      product2: [],
      typee: [],
      unitt: [],
      conn: [],
      type_idd: [],
      unit_idd: [],
      total: "",
      total1: "",
      total2: "",
      page: 1,
      dialog: false,
      search: "",
      search1: "",
      search2: "",
      index: 0,
      editedIndex: -1,
      editedItem: {
        med_id: "",
        med_name: "",
        med_price: "0",
        med_min: 0,
        med_max: 0,
        type_id: 0,
        unit_id: 0,
        con_id: 0,
      },
      defaultItem: {
        med_id: "",
        med_name: "",
        med_price: "0",
        med_min: 0,
        med_max: 0,
        type_id: 0,
        unit_id: 0,
        con_id: 0,
      },
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "เพิ่มสินค้า" : "เเก้ไขสินค้า";
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.initialize();
  },
  methods: {
    async onType() {
      if (this.editedItem.type_id == 1) {
        await this.$axios.get(URL + "/api/medicent/getOne/1").then((res) => {
          var index = res.data.data.length - 1;
          var info = res.data.data[index].med_id;
          var info_1 = parseInt(info);
          var new_1 = info_1 + 1;
          var new_s = new_1.toString();
          this.editedItem.med_id = new_s;
        });
      } else if (this.editedItem.type_id == 2) {
        await this.$axios.get(URL + "/api/medicent/getOne/2").then((res) => {
          var index = res.data.data.length - 1;
          var info = res.data.data[index].med_id;
          var info_2 = parseInt(info);
          var new_2 = info_2 + 1;
          var new_s = new_2.toString();
          this.editedItem.med_id = new_s;
        });
      }
    },

    async initialize() {
      // console.log("1", this.product1);
      this.$axios.get(URL + "/api/medicent/getAll").then((res) => {
        this.product = res.data;
        this.total = res.data.length;
        // console.log(this.product);
      });
      this.$axios.get(URL + "/api/medicent/getOne/1").then((res) => {
        this.product1 = res.data.data;
        this.total1 = res.data.data.length;
        // console.log(this.product1);
      });
      this.$axios.get(URL + "/api/medicent/getOne/2").then((res) => {
        this.product2 = res.data.data;
        this.total2 = res.data.data.length;
        // console.log(this.product2);
      });
      this.$axios.get(URL + "/api/type/getAll").then((res) => {
        var info = res.data;
        this.typee = info;
      });
      this.$axios.get(URL + "/api/unit/getAll").then((res) => {
        var info = res.data;
        this.unitt = info;
      });
      this.$axios.get(URL + "/api/condi/getAll").then((res) => {
        var info = res.data;
        this.conn = info;
      });
    },

    async editItem(item) {
      // console.log(item);
      this.editedIndex = this.product.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.initialize();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      if (this.editedIndex > -1) {
        // console.log("000", this.editedItem);
        Object.assign(this.product[this.editedIndex], this.editedItem);
        delete this.editedItem.type_name;
        delete this.editedItem.con_name;
        delete this.editedItem.unit_name;
        await this.$axios.put(
          URL + "/api/medicent/update/" + this.editedItem.med_id,
          this.editedItem
        );
        this.initialize();
        this.close();
      } else {
        if (
          this.editedItem.med_id.length != 0 &&
          this.editedItem.med_name.length != 0 &&
          this.editedItem.con_id.length != 0
        ) {
          this.$axios.post(URL + "/api/medicent/add", this.editedItem);
          this.initialize();
          this.close();
        } else {
          alert("กรุณากรอกให้ครบถ้วน");
        }
      }
    },
  },
};
</script>

<style scoped>
.btn {
  font-size: medium;
  width: 125px;
  margin: 15px;
  position: absolute;
  top: 50px;
  right: 30px;
  border-radius: 15px;
}

.btn-save {
  border-radius: 15px;
  font-size: medium;
  width: 125px;
  left: 470px;
  margin-bottom: 10px;
}

p {
  font-size: 25px;
}

div {
  font-size: 16px;
}

.head {
  position: relative;
  padding-top: 75px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-weight: bold;
}

.type-title {
  padding-top: 1%;
  padding-bottom: 0%;
  padding-right: 1%;
}

thead th {
  padding: 12px;
}

tbody td {
  text-align: center;
  padding: 8px;
}

.field {
  border-radius: 15px;
}

.field-search {
  border-radius: 15px;
}

.field-search1 {
  border-radius: 15px;
  width: 30%;
}

.right {
  position: relative;
  margin-top: 50px;
  margin-bottom: -10px;
  left: 1160px;
  font-size: 18px;
}
</style>
